        * {
        font-family: Arial, Verdana, sans-serif;
        color: #665544;
        box-sizing: border-box;}
        
        header h1 {
            text-align:left;
            
        color: #3367b1; }

        article h4 {
        text-align: center;}

        section h3 {
            font-weight: 
        }

        article img {
        max-width: 100%;
        height:auto;}

        nav, #feature, footer {
           align-items:right;
           justify-content: right;
           display: flex;
        margin: 1%; }

        nav li {
        
        display: inline;
		padding: 0.5em;
        color: white;}

        nav ul {
            display:flex;
        }

        .row-color-1 {
            background-color:antiquewhite;
        }

        .w3-button {
  margin-left: 5px;
  padding: 10px;
  border-radius: 5px;
        }

        .w3-twothird {
            align-content:right;
            align-items: right;
        }